#checkoutSteps{list-style:none;margin:0;padding:0}
#checkoutSteps *{color:#616161}
#checkoutSteps h3{font-size:16px;font-weight:300;margin:0 0 20px}

#checkoutSteps .section{padding:2px 0 0}
#checkoutSteps .step{padding:0 0 25px}

#checkout-progress-wrapper .block-content{border:0;padding:0}
#checkout-progress-wrapper .block-title{border:1px solid #e1e4eb;border-radius:20px;padding:10px 15px;margin:0 0 20px}
#checkout-progress-wrapper .block-title span{font-size:18px;color:#616161;padding:0;line-height:34px}
#checkout-progress-wrapper dt{color:#616161;font-size:16px;font-weight:normal;padding:7px 0 7px 30px}

#checkoutSteps .step-title{padding:10px 18px;border-radius:20px;border:1px solid #e1e4eb}
#checkoutSteps .step-title h2{display:inline-block;font-size:18px;vertical-align:middle;line-height:33px;color:#616161;font-weight:400;margin:0}
#checkoutSteps .step-title .number{width:33px;height:33px;line-height:33px;overflow:hidden;color:#fff;background:#9bb805;font-size:18px;font-weight:400;border-radius:50%;display:inline-block;margin-right:5px;text-align:center;vertical-align:middle}
#checkoutSteps .step-title a{position:absolute;left:-9999px;top:-9999px}

#checkoutSteps .notice{border:1px solid #e1e4eb;border-radius:20px;padding:12px 15px 15px}
#checkoutSteps .notice p{line-height:14px;padding:0}
#checkoutSteps .notice a{color:#9bb805}

#checkout-step-login > .row > *{padding-top:30px}

#checkoutSteps  p{font-size:12px;line-height:18px;padding:0 0 5px;margin:0}

#checkoutSteps .form-list{list-style:none;padding:0 0 14px;margin:0}
#checkoutSteps .form-list > li{padding:6px 0 0}
#checkoutSteps .form-list label{color:#616161;font-size:12px;position:relative;font-weight:400}
#checkoutSteps .form-list label em{font-style:normal;color:#ec7493;font-size:11px;position:absolute;right:-10px;top:0}

#login-form .input-text{width:70%;font-size:13px}
#login-form  .forgot{color:#cacaca;font-size:12px}

#checkoutSteps .form-list .control *{vertical-align:middle;display:inline-block;margin:0}
#checkoutSteps .form-list .control label{color:#757575;font-size:12px}

@media (max-width: 991px) {
	#checkout-progress-wrapper{position:absolute;left:-9999px;top:-9999px}
}