*{font-family:'Open Sans','sans-serif';font-weight:400;outline:none!important}
.container{padding:0}

.btn-b{width:203px;height:52px;background:url(../images/btn-1.png);cursor:pointer;font-size:17px;color:#fff;display:inline-block;text-align:center;padding:12px 0 14px;line-height:26px}

/* header */
.header-top{background:#9bb805;position:relative;z-index:99}
.header-top *{vertical-align:middle}
.header-top span{color:#fff;font-size:12px;font-family:Arial, Helvetica, sans-serif}
#mini_cart_block,
.header-top .headline span{display:inline-block;padding:8px 0}

.toplink .row .row *{padding:0}

.box-header .menu{display:inline-block;padding:0;margin:0 10px 0 0;list-style:none;width:108px}
.box-header .menu a{width:100%;display:block;font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center}
.box-header .menu > li{position:relative;display:block}
.box-header .menu > li > a{color:#fff;padding:8px 0;line-height:20px}
.box-header .menu > li:hover > a{background:#acc42f}
.box-header .menu .dropit-submenu{position:absolute;top:36px;left:0;width:100%;list-style:none;margin:0;padding:0}
.box-header .menu .dropit-submenu.hide{position:absolute;left:-9999px}
.box-header .menu .dropit-submenu a{background:#F7F7F7;color:#818DAB;line-height:22px;text-transform:capitalize;padding:6px 0;transition:all 0.3s ease 0s}
.box-header .menu .dropit-submenu a:hover{background:#67D7BB;color:#fff}

.top-cart-content{padding-left:30px;background:url(../images/icon-cart.png) no-repeat 0 50%}

.header-top .headline,
.header-top .top-panel{text-align:center}
.header-top .headline :first-child{margin-right:0}

.quick-access{display:inline-block;position:relative}
.quick-access:hover{background:#ACC42F}
.quick-access > i{display:block;height:36px;width:50px;cursor:pointer;color:#fff;line-height:36px;text-align:center}

#search_mini_form{background:#fff;padding:6px;white-space:nowrap;position:absolute;left:0;top:36px;width:220px}
#search_mini_form .search-autocomplete,
#search_mini_form label{position:absolute;left:-9999px;top:-9999px}
#search_mini_form .form-group{margin:0}
#search_mini_form .form-control{font-size:12px;font-family:Arial, Helvetica, sans-serif;width:160px;display:inline-block}

h1.logo{margin:0}
h1.logo strong{position:absolute;left:-9999px;top:-9999px}

.ma-header-container{background:url(../images/b-85.png);padding:13px 0}
.header-menu{padding:15px 0 0}
.pt_menu{display:inline-block;vertical-align:top}
.parentMenu > a span{font-weight:300;font-size:18px;color:#fff;display:inline-block;padding:0 14px;height:37px;line-height:35px;vertical-align:top;border-radius:20px}
.pt_menu.act .parentMenu > a span,
.pt_menu .parentMenu > a span:hover{background:#363636}
.pt_menu + .pt_menu{margin-left:18px}
/* end header */

/* brand slider */
.ma-brand-slider-contain{padding:40px 0 30px;border-top:1px solid #edeff3;background:url(../images/shop-bg.jpg)}
.ma-brand-slider-contain .bx-wrapper{position:relative;overflow:hidden;box-sizing:content-box;padding-top:56px;top:-60px}
.ma-brand-slider-contain .bx-viewport{overflow:visible!important;position:relative;left:-38px}
.ma-brand-slider-contain .bx-slider{height:144px;margin:0;padding:0}
.ma-brand-slider-contain li{height:144px;width:248px;padding-left:38px}
.ma-brand-slider-contain .item-box{width:173px;height:119px;position:relative}
.ma-brand-slider-contain .item-box *{position:relative;z-index:2}
.ma-brand-slider-contain .item-box:after{width:248px;height:62px;background:url(../images/shop-shadow.png);position:absolute;content:"";left:-38px;bottom:-25px;z-index:1}
.ma-brand-slider-contain .item-box img{border-radius:20px}
.ma-brand-slider-contain .bx-controls-direction a{width:35px;height:35px;background:url(../images/arrow-slide-1.png);cursor:pointer;position:absolute;top:0;overflow:hidden;text-indent:-9999px}
.ma-brand-slider-contain .bx-controls-direction .bx-prev{right:41px}
.ma-brand-slider-contain .bx-controls-direction .bx-next{background-position:100% 0;right:0}
.ma-brand-slider-contain .caption{background:url(../images/b-56.png);position:absolute;left:0;bottom:0;width:100%;padding:6px 0 8px;color:#fff;font-size:14px;text-align:center;border-radius:0 0 20px 20px}
/* end brand slider */

/* footer */
.footer-container{position:relative;z-index:7}
.footer-container .top-header{background:url(../images/green-line.jpg) 50% 0}
.footer-container .top-header .top-content{position:relative;padding:32px 0 33px}
.footer-container .top-header .head-link{text-align:center}
.footer-container .top-header .heaser-text h2{line-height:26px;color:#fff;font-size:17px;margin:0;padding:12px 0 0}

.ma-footer-container{padding:16px 0}
.ma-footer-container *{vertical-align:middle;color:#818dab;font-size:12px}

#back-top{width:30px;height:29px;position:fixed;bottom:20px;z-index:999;right:20px;background:url(../images/icon-return-top.png);cursor:pointer}

.ma-footer-static-container{padding:15px 0 25px;background:#141210}
.ma-footer-static-container *{color:#fff;font-size:12px}
.footer-static-title h3{padding:25px 0;margin:0;font-size:25px;font-weight:300}
.footer-static-content *{line-height:22px}
.footer-static-content ul{padding:0;margin:0;list-style:none}
.footer-static-content li{padding-bottom:12px}
.footer-static-content li + li{border-top:1px dotted #fff;padding-top:12px}
.footer-static-content .text-footer .text-line *{vertical-align:middle}
.footer-static-content .text-footer .text-line + .text-line{padding-top:5px}
.footer-static-content .text-footer label{display:inline-block;width:70px;font-weight:400}
.footer-static-content .text-footer .text{display:inline-block;vertical-align:top}
.footer-static-content .text-footer .box-footer{vertical-align:middle}

.box-footer a{width:32px;height:32px;display:inline-block;margin-right:15px}
.box-footer .facebook{background:url(../images/icon-facebook.png)}
.box-footer .twitter{background:url(../images/icon-twitter.png)}
/* footer */

/* breadcrumbb */
.main-breadcrumbs{padding:20px 0 15px;background:url(../images/shop-bg.jpg);border-bottom:1px solid #edeff3}
.main-breadcrumbs *{font-size:14px}
.breadcrumbs label{font-size:14px;display:inline-block;vertical-align:top;padding:0 14px 0 0;font-weight:400;color:#c8c8c8}
.breadcrumb{background:none;margin:0;padding:0;display:inline-block;vertical-align:top}
.breadcrumb li span{color:#9bb805}
.breadcrumb li a{color:#7e7e7e;font-size:14px}

.row{margin-left:0;margin-right:0}

.ma-main-container{padding:20px 0 40px}

.page-title h1,
.page-title h2,
.brand-title h2,
.block-title span{display:block;margin:0;padding:0 0 15px;color:#117244;font-size:20px;line-height:29px}

.brand-title h2{padding-bottom:28px}

.block-title-center{padding-right:15px;padding-left:15px}
.block-content{padding:15px;border-radius:20px;border:1px solid #e1e4eb}

.fb-plugin{text-align:center}
.fb-plugin > img{width:100%;max-width:236px}

.block-intro.align-center{padding:0 15px 15px}
.block-intro *,
.page-intro *{font-size:14px;line-height:17px;font-weight:300;color:#616161}
.block-intro p,
.page-intro p{padding:0 0 20px;margin:0}
.block-intro a,
.page-intro a{color:#2d8449}

.article-detail *{font-size:14px;line-height:17px;font-weight:300;color:#616161}
.article-detail p{padding:0 0 20px;margin:0}
.article-detail strong{font-weight:700}
.article-detail ul{list-style:none;padding:0;margin:0}
.article-detail li{background:url(../images/list-style-1.png) no-repeat 0 5px;padding:0 0 20px 12px}

.back-to-list{padding:0 0 20px}
.back-to-list a{color:#2d8449}

.floor-list .row{position:relative;left:-15px}
.floor-list .row > *{text-align:center}
.floor-list span{display:block;font-size:12px;color:#676767;line-height:15px;font-weight:300;padding:4px 0 15px}
.floor-list img{width:100%}

.number-label-sm{width:75px;display:inline-block}
.number-label-xs{width:40px;display:inline-block}

.block + .block-more-info,
.block-more-info + .block-more-info{margin:33px 0 0}
.block-more-info{border-radius:20px;border:1px solid #e1e4eb}
.block-more-info .block-inner{padding:8px}
.block-more-info .img img{width:100%;border-radius:20px 20px 0 0}
.block-more-info h3,
.block-more-info p{font-weight:300;color:#888;line-height:1.2;margin:0}
.block-more-info h3{padding:5px 0 0;font-size:18px}
.block-more-info p{padding-top:10px;font-size:14px}
.block-more-info .read-more{margin:15px 0 0;border:1px solid #dfdfdf;border-radius:20px;border-bottom:1px solid #efefef;display:block;text-align:center;font-size:12px;color:#888;height:28px;line-height:25px;background: #ededed;background: -moz-linear-gradient(top,  #ededed 0%, #d3d3d3 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d3d3d3));background: -webkit-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);background: -o-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);background: -ms-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);background: linear-gradient(to bottom,  #ededed 0%,#d3d3d3 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d3d3d3',GradientType=0 )}
.verified{text-align:center;padding:25px 0 0}
.verified img{max-width:100%}

.icon-cart{width:25px;height:18px;background:url(../images/icon-cart.png)}
.icon-info{width:21px;height:21px;background:url(../images/icon-info.png)}
.icon-info:before{background-image:url(../images/icon-info-highlight.png)}
.button-default{height:34px;cursor:pointer;border-radius:20px;text-align:center}
.button-default i{display:inline-block;vertical-align:middle;margin-right:5%}
.button-default span{display:inline-block;font-weight:300;font-size:14px;line-height:32px}
.button-highlight{border:1px solid #db790f;border-bottom:1px solid #f7991e;background: #f7991e;
background: -moz-linear-gradient(top,  #f7991e 0%, #dd6207 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7991e), color-stop(100%,#dd6207));
background: -webkit-linear-gradient(top,  #f7991e 0%,#dd6207 100%);
background: -o-linear-gradient(top,  #f7991e 0%,#dd6207 100%);
background: -ms-linear-gradient(top,  #f7991e 0%,#dd6207 100%);
background: linear-gradient(to bottom,  #f7991e 0%,#dd6207 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7991e', endColorstr='#dd6207',GradientType=0 );
}
.button-highlight span{color:#fff}
.button-dark{border:1px solid #dddddd;border-bottom:1px solid #f1f1f1;background: #ededed;
background: -moz-linear-gradient(top,  #ededed 0%, #d3d3d3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d3d3d3));
background: -webkit-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);
background: -o-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);
background: -ms-linear-gradient(top,  #ededed 0%,#d3d3d3 100%);
background: linear-gradient(to bottom,  #ededed 0%,#d3d3d3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d3d3d3',GradientType=0 );
}
.button-dark span{color:#888}
.button-dark:hover{border:1px solid #1ab316;border-bottom:1px solid #92b606;background:#9bb805;
background: -moz-linear-gradient(top,  #9bb805 0%, #6bab09 50%, #099011 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb805), color-stop(50%,#6bab09), color-stop(100%,#099011));
background: -webkit-linear-gradient(top,  #9bb805 0%,#6bab09 50%,#099011 100%);
background: -o-linear-gradient(top,  #9bb805 0%,#6bab09 50%,#099011 100%);
background: -ms-linear-gradient(top,  #9bb805 0%,#6bab09 50%,#099011 100%);
background: linear-gradient(to bottom,  #9bb805 0%,#6bab09 50%,#099011 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb805', endColorstr='#099011',GradientType=0 );
}
.button-dark:hover span{color:#fff}
.button-dark:hover .icon-info{background-image:url(../images/icon-info-highlight.png)}

.box-wrapper{border:1px solid #e1e4eb;border-radius:20px}
.box-wrapper .page-title{margin:15px 15px 0}

.input-text{border:1px solid #e1e4eb;padding:5px;height:31px;line-height:21px;width:100%;font-size:14px;resize:none}
textarea.input-text{height:150px}

.checkbox{margin:0;padding:0;background:url(../images/checkbox-checked.png) no-repeat -9999px -9999px}
.checkbox label{padding-left:20px;background:url(../images/checkbox.png) no-repeat 0 50%}
.checkbox input{visibility:hidden}
.checkbox.checked label{background-image:url(../images/checkbox-checked.png)}

@media (max-width: 480px) {
	.nav-container{position:absolute;left:-9999px;top:-9999px}
	.nav-container-mobile{text-align:center;padding:20px 0 0}
	.nav-container-mobile select{width:90%;height:30px;padding:5px 0}
	.breadcrumbs label{margin:0}
}

@media (min-width: 481px) {
	.nav-container-mobile{position:absolute;left:-9999px;top:-9999px}
}

@media (max-width: 767px) {
	.footer-container .top-header .book{display:none}
	.footer-container .top-header .top-content{position:relative;padding:5px 0 20px}
	.footer-container .top-header .heaser-text{text-align:center;padding-bottom:20px}
	.ma-footer-container .row *{text-align:center}
	
	.row-full > *{padding:0 0 10px}
}

@media (min-width: 768px) {
	.row-full > :first-child{position:relative;left:-15px}
	.row-full > :last-child{position:relative;right:-15px}
}

@media (max-width: 991px) {
	.main-inner > .row > div + div{padding-top:20px}
	.header-top .headline :first-child{margin-right:0!important}
	#search_mini_form{left:auto;right:0}
	.footer-container .top-header .book{display:none}
	.footer-container .top-header .top-content{position:relative;padding:5px 0 20px}
	.footer-container .top-header .heaser-text{text-align:center;padding-bottom:20px}
	h1.logo{text-align:center}
}

@media (min-width: 992px) {
	.footer-container .top-header .book{display:none}
	.footer-container .top-header .top-content{min-height:117px;padding:32px 0 33px}
	.footer-container .top-header .head-link{text-align:right}
	
	.ma-brand-slider-contain .bx-wrapper{max-width:100%!important;width:100%!important;left:-10px;padding-left:10px;padding-right:10px}
	.ma-brand-slider-contain .bx-viewport{overflow:visible!important;left:-10px}
	.ma-brand-slider-contain .bx-controls-direction .bx-prev{right:51px}
	.ma-brand-slider-contain .bx-controls-direction .bx-next{right:10px}
	
	.parentMenu > a span{font-size:12px}
	.pt_menu + .pt_menu{margin-left:0.4vw}
	h1.logo{text-align:center}
}

@media (max-width: 1199px) {
	.box-header{text-align:center}
	.box-header > *{display:inline-block}
	.header-top .headline :first-child{margin-right:40px}
	.header-menu{text-align:center}
	.parentMenu > a span{font-size:15px}
}

@media (min-width: 1200px) {
	.box-header > *{float:right}
	.header-top .headline :first-child{margin-right:60px}
	
	.footer-container .top-header .book{position:absolute;left:0;top:-20px;width:109px;height:132px;background:url(../images/book-1.png);display:block}
	.footer-container .top-header .heaser-text{padding-left:207px}
	
	.ma-brand-slider-contain .bx-wrapper{max-width:100%!important;width:100%!important;left:-38px;padding-left:38px;padding-right:38px}
	.ma-brand-slider-contain .bx-viewport{overflow:visible!important;left:-38px}
	.ma-brand-slider-contain .bx-controls-direction .bx-prev{right:79px}
	.ma-brand-slider-contain .bx-controls-direction .bx-next{right:38px}
	
	.header-top .headline{text-align:left}
	.header-menu{text-align:right}
	.parentMenu > a span{font-size:1.4vw}
}

@media (max-width: 1200px) {
	.box-header > *{float:right}
	.header-top .headline :first-child{margin-right:60px}
	
	.footer-container .top-header .book{position:absolute;left:0;top:-20px;width:109px;height:132px;background:url(../images/book-1.png);display:block}
	.footer-container .top-header .heaser-text{padding-left:207px}
	
	.ma-brand-slider-contain .bx-wrapper{max-width:100%!important;width:100%!important;left:-38px}
	.ma-brand-slider-contain .bx-viewport{overflow:visible!important;left:-38px}
	.ma-brand-slider-contain .bx-controls-direction .bx-prev{right:79px}
	.ma-brand-slider-contain .bx-controls-direction .bx-next{right:38px}
	
	.header-top .headline{text-align:left}
	.parentMenu > a span{font-size:1.4vw}
}

@media (min-width: 1201px) {
	.parentMenu > a span{font-size:19px}
}