.product-detail-row{margin-bottom:55px}

.product-shop{}
.product-shop .price-box{padding-bottom:8px}
.product-shop .regular-price{font-size:16px;color:#1ec916;font-weight:400}
.product-shop .product-name{padding-bottom:5px}
.product-shop .product-name h1{margin:0;padding:0;font-size:24px;color:#616161;font-weight:400}
.product-shop .short-description{font-size:14px;font-weight:300;color:#888;line-height:18px}

#product-options-wrapper{background:url(../images/shop-bg.jpg);border-radius:20px;margin:20px 0;padding:20px 15px}
#product-options-wrapper label{font-size:12px;color:#888;margin:0 5px 0 0;font-weight:300}
#product-options-wrapper .input-box{display:inline-block}